/*     ---------------        Début Media Phone         --------------------   */

@media all and (max-width: 768px) {
    header {
        flex-direction: column;
        justify-content: space-around;
    }
    .menu_select {
        padding-bottom: 5px;
        border-bottom: solid 2px #f2f2f2;
    }
    .menu_select:hover {
        border-bottom: solid 2px blue;
        border-top: none;
    }
    /*     -------        Fin Header        ------   */
    #tools {
        width: 350px;
        margin: auto;
        align-items: center;
    }
    #search_tools {
        margin-top: 30px;
    }
    #button_tools_phone {
        display: block;
    }
    #button_tools_desktop {
        display: none;
    }
    #filtres_tools {
        flex-direction: column;
        align-items: flex-start;
    }
    #filtres_tools_wrapper_select {
        justify-content: space-between;
    }
    .filtres_tools_select {
        margin-left: 0px;
        margin-top: 15px;
    }
    /*     -------        Fin Tools        ------   */
    .box_title {
        width: 85%;
        margin-left: 25px;
    }
    #display_hebergements {
        flex-direction: column-reverse;
        align-items: center;
    }
    #hebergement_marseille {
        background-color: white;
    }
    #card_wrapper_hebergement {
        justify-content: center;
    }
    .carte_hebergement {
        width: 325px;
        height: 200px;
    }
    .carte_hebergement:hover {
        transform: scale(1.1);
        transition: 0.3s ease-in-out;
    }
    .carte_img {
        width: 315px;
    }
    .description_carte_rating {
        width: 315px;
    }
    /*     -------        Fin Hebergement Marseille        ------   */
    #add_populaires {
        width: 375px;
        border-radius: 0%;
    }
    #card_wrapper_add {
        width: 325px;
        margin: auto;
    }
    .carte_hebergement_add {
        margin-bottom: 15px;
    }
    #box_more_hebergement {
        width: 300px;
        margin: auto;
    }
    /*     -------        Fin Add Populaires        ------   */
    #wrapper_activity {
        display: block;
    }
    #activity_marseille_title {
        margin-left: 25px;
    }
    #slide_one {
        height: 190px;
    }
    #slide_two {
        height: 190px;
    }
    #slide_three {
        height: 190px;
    }
    #slide_four {
        height: 190px;
    }
    div[id^="slide"] {
        width: 330px;
        margin-top: 15px;
    }
    .img_activity_one {
        height: 135px;
    }
    .img_activity_two {
        height: 135px;
    }
    .img_activity_three {
        height: 135px;
    }
    .img_activity_four {
        height: 135px;
    }
    .display_activity {
        width: 330px;
        height: auto;
        margin: auto;
    }
    .display_activity_big_phone {
        height: 190px;
        margin-top: 15px;
    }
    .img_activity_big {
        height: 140px;
        object-fit: cover;
    }
    /*     -------        Fin Activité Marseille        ------   */
    .footer_wrapper {
        flex-direction: column;
        margin-left: 15px;
    }
    .footer_box {
        width: 100%;
    }
    /*     -------        Fin Footer        ------   */
}


/*     ---------------        Fin Media Phone        --------------------   */